@model Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Tools/FlatAdmin/js/jquery.js"></script>

<div class="panel-body">
    <div class="form">
        @using (Html.BeginForm("AddCategory", "Category", FormMethod.Post, new { @class = "cmxform form-horizontal tasi-form", enctype = "multipart/from-data" }))
        {
            <div class="form-group">
                <label for="categoryname" class="control-label col-lg-2">Kategori İsmi</label>
                <div class="col-lg-3">
                    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="categorydescription" class="control-label col-lg-2">Kategori Açıklaması </label>
                <div class="col-lg-3">
                    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2">Görsel Yükleme</label>
                <div class="col-md-9">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                        </div>
                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                        <div>
                            <span class="btn btn-white btn-file">
                                <span class="fileupload-new"><i class="icon-paper-clip"></i> Görsel Seçiniz</span>
                                <span class="fileupload-exists"><i class="icon-undo"></i> Görsel Değitir</span>
                                <input name="resim" type="file" class="default" />
                            </span>
                            <a href="#" class="btn  btn-danger btn-icon-split fileupload-exists" data-dismiss="fileupload"><i class="icon-trash"></i> Kaldır</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button class=" btn-round btn-primary btn-large  " type="submit"> <i class="fas fa-check"></i> </button>
                    
                    @Html.ActionLink("İptal", "CategoryList", null, new { @class = " btn-round btn-default btn-lg " })
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript" src="~/Tools/FlatAdmin/assets/bootstrap-fileupload/bootstrap-fileupload.js"></script>
<link href="~/Tools/Frontend/css/sb-admin-2.min.css" rel="stylesheet" />

